header {
    display: flex;
    width: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px 0px 32px;


    .titleAndTabs {
        display: flex;
        align-items: center;
        width: 60%;
        gap: 30vh;
    }


    .title {
        display: flex;
        gap: 10px;
        align-items: center;

        h1 {
            font-size: 30px;
            font-weight: 800;
        }

        img {
            height: 40px;
            width: 40px;
        }
    }


    .tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        height: 80px;

        button {
            display: flex;
            align-items: center;
            height: 100%;
            width: fit-content;
            border: none;
            gap: 20px;
            font-size: 16px;
            font-weight: 700;
            
        }
        
        .selected {
            border-color: #C468FF;
            border-style: solid;
            border-top: none;
            border-left: none;
            border-right: none;
            border-width: 1;
        }
    }


    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 166px;
        height: 40px;
        gap: 32px;
    }
}